* { 
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;          /* Enables flexbox layout */
    justify-content: space-between;  /* Spaces items out */
    align-items: flex-start;  /* Aligns items at the start */
    gap: 0px;               /* Adds space between the canvas and table */
    margin: 0px;
}

canvas {
    display: block;
    border: 1px;
    background-color: green;
    flex-grow: 1;                  /* Allow table to grow if needed */
}

#drumMachine {
    border-collapse: collapse;
    width: 320px;                  /* Fixed width for the table */
    flex-shrink: 0; 
}

.clickable {
    width: 20px;
    height: 20px;
    background-color: rgb(51, 66, 46);
    cursor: pointer;
    margin-right: 1px;
    margin-bottom: 1px;
    display: inline-block;
}

.clickable.activated {
    background-color: rgb(53, 220, 20);
}